<nav class="navbar navbar-expand-lg navbar-dark bg-teal shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="/multi-tools-website/index.html">Multi-Tools Hub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/multi-tools-website/index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tools
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><h6 class="dropdown-header">Unit Converters</h6></li>
                        <li><a class="dropdown-item" href="/multi-tools-website/tools/length-converter.html">Length Converter</a></li>
                        <li><a class="dropdown-item" href="/multi-tools-website/tools/weight-converter.html">Weight Converter</a></li>
                        <li><a class="dropdown-item" href="/multi-tools-website/tools/speed-converter.html">Speed Converter</a></li>
                        <li><a class="dropdown-item" href="/multi-tools-website/tools/temperature-converter.html">Temperature Converter</a></li>
                        <li><a class="dropdown-item" href="/multi-tools-website/tools/volume-converter.html">Volume Converter</a></li>
                        <li><a class="dropdown-item" href="/multi-tools-website/tools/data-storage-converter.html">Data Storage Converter</a></li>
                        <li><a class="dropdown-item" href="/multi-tools-website/tools/energy-converter.html">Energy Converter</a></li>
                        <li><a class="dropdown-item" href="/multi-tools-website/tools/pressure-converter.html">Pressure Converter</a></li>
                        <li><a class="dropdown-item" href="/multi-tools-website/tools/fuel-efficiency-converter.html">Fuel Efficiency Converter</a></li>
                        <li><a class="dropdown-item" href="/multi-tools-website/tools/angle-converter.html">Angle Converter</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header">SEO Tools</h6></li>
                        <li><a class="dropdown-item" href="/multi-tools-website/tools/robots-txt-generator.html">Robots.txt Generator</a></li>
                        <li><a class="dropdown-item" href="/multi-tools-website/tools/sitemap-generator.html">Sitemap Generator</a></li>
                        <li><a class="dropdown-item" href="/multi-tools-website/tools/meta-tag-generator.html">Meta Tag Generator</a></li>
                        <li><a class="dropdown-item" href="https://search.google.com/search-console/" target="_blank">Search Console</a></li>
                    </ul>
                </li>
                <!-- Search bar in header (optional, as main page has one) -->
                <!-- <li class="nav-item">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                </li> -->
                <!-- APK Download Button Placeholder -->
                <!-- <li class="nav-item">
                    <a class="nav-link btn btn-outline-light ms-2" href="#" role="button">Download APK</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
